includes:
	- %rootDir%/../../../vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
	inferPrivatePropertyTypeFromConstructor: true
	checkGenericClassInNonGenericObjectType: false
	checkMissingIterableValueType: false
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		- "#Call to function method_exists\(\) with 'Symfony\\\\Component…' and 'getRootNode' will always evaluate to false.#"

services:
    -
        class: SlamPhpStan\GotoRule
        tags:
            - phpstan.rules.rule
    -
        class: SlamPhpStan\PhpUnitFqcnAnnotationRule
        tags:
            - phpstan.rules.rule
    -
        class: SlamPhpStan\StringToClassRule
        tags:
            - phpstan.rules.rule
    -
        class: SlamPhpStan\UnusedVariableRule
        tags:
            - phpstan.rules.rule
