parameters:

services:
    alpha.visitor_tracking_subscriber:
        class: Alpha\VisitorTrackingBundle\EventListener\VisitorTrackingSubscriber
        arguments:
            - "@doctrine.orm.entity_manager"
            - "@alpha.visitor_tracking.storage.session"
            - [] # Firewall blacklist, populated from config.
            - "@security.firewall.map"
        tags:
            - { name: kernel.event_subscriber }

    alpha.visitor_tracking.manager.device_fingerprint:
        class: Alpha\VisitorTrackingBundle\Manager\DeviceFingerprintManager

    alpha.visitor_tracking.storage.session:
        class: Alpha\VisitorTrackingBundle\Storage\SessionStore
